
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

input,
button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 999px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px #1a1a1a inset;
}
